alive_progress
asf_search
basemap
basemap-data-hires
burst2safe
clint
contextily
dicttoxml
docker
docopt
elevation
fiona
# gdal
geopandas
GitPython
h5py
jdcal
matplotlib
numpy
opencv-python
#osgeo
#osgeo_utils
pandas
pillow
psutil
pygmt
pylatex
pyproj
python-gnupg
pywebview
rasterio
rioxarray
requests
scikit-image
scipy==1.11.4
shapely
simplekml
tqdm
wget
xmltodict
py7zr
